In [17]:
import os
import pandas as pd
import numpy as np

## Load ratings data

In [7]:
data_folder = "../datasets/ml-latest-small/"

In [14]:
ratings = pd.read_csv(os.path.join(data_folder, "ratings.csv")).reset_index()
ratings.head(5)

   index  userId  movieId  rating  timestamp
0      0       1        1     4.0  964982703
1      1       1        3     4.0  964981247
2      2       1        6     4.0  964982224
3      3       1       47     5.0  964983815
4      4       1       50     5.0  964982931

## Stratified and Chronological Train-Test Split

For each user, set the oldest 80% rating history as train set, and the newest 20% as test set.

In [23]:
user_to_row_idx = ratings.sort_values("timestamp", ascending=True).groupby("userId")["index"].apply(list)
user_to_row_idx

userId
1      [43, 73, 171, 183, 120, 219, 220, 227, 6, 24, ...
2      [232, 246, 260, 258, 253, 256, 235, 251, 244, ...
3      [272, 279, 274, 267, 270, 277, 261, 265, 285, ...
4      [310, 350, 436, 328, 394, 458, 448, 309, 341, ...
5      [553, 554, 524, 542, 533, 544, 551, 525, 537, ...
                             ...
606    [97501, 97742, 97679, 97552, 97694, 97829, 975...
607    [98527, 98518, 98628, 98538, 98481, 98494, 985...
608    [99077, 98934, 98699, 99055, 98680, 98897, 987...
609    [99502, 99521, 99520, 99510, 99517, 99514, 995...
610    [99554, 99699, 99649, 100010, 99739, 99541, 99...
Name: index, Length: 610, dtype: object

In [ ]:
train_index = sum([i[:int(np.ceil(0.8 * len(i)))] for i in user_to_row_idx], [])
test_index = sum([i[int(np.ceil(0.8 * len(i))):] for i in user_to_row_idx], [])
ratings_train = ratings.iloc[train_index, :][["userId", "movieId", "rating"]]
ratings_test = ratings.iloc[test_index, :][["userId", "movieId", "rating"]]